body {
    background: url('https://i.pinimg.com/originals/16/15/8f/16158f24fc89086a9232df1f3d5eb8ef.jpg');
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    color: #420b0b;
    
  }


